*{
	margin: 0;
	padding: 0;
}


/* Header*/

.dest-title{
	font-size: 100px;
	font-weight: bold;
	color: white;
}

.dest-price{
	font-size: 50px;
	font-weight: bold;
	color:#ed7e2c;
}

.dest-description{
	top:0px;
}

.hotol-tile{
	text-align: center;
	color: white;
	background-color: #ed7e2c;
	line-height:40px;
	font-size: 20px;
	margin-bottom: 0px;
	padding: 10px 0;
	width: 270px;
}

.img-lis-caption{
	background-color:#ed7e2c;
	width: 270px;
	/*display: none;*/
}

.img-caption-desc{
	text-align: center;
	color: white;
}


.img-lis-caption:hover{
	display: block;
	background-color:#ed7e2c;
	width: 270px;
}

.hotol-bloc-item{
	padding-right: 5px;
    padding-left: 5px;
}



/*css recupéré gallery*/


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_hotel
{
    margin-bottom: 30px;
}


/* le footer*/

.footer-dest{
	padding: 50px;
	background-color: #1a3355;
	color: white;
	text-align: center;
}








